<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamster Care</title>
    <link rel="stylesheet" href="../style/styles.css">
</head>
<body>
    <div class="HAMbloc">
        <!-- Barre d'affichage de la faim -->
        <div class="HAMneeds">
        <div><div id='hunger-in'></div></div> 
        <div><div id='thirst-in'></div></div> 
        <div><div id='hyg-in'></div></div> 
        <div><div id='sleep-in'></div></div> 
        <div><div id='move-in'></div></div> 
        <div><div id='fun-in'></div></div> 

        </div>


        <div id="HAMcage"></div>

        <!-- Gamelle (remplir, nourrir) -->
        <br><br>
        <button id="plate">Nourrir</button>
        <button id="bottle">Boire</button>
        <button id="sponge">Nettoyer la cage</button>
        <button id="bed">Dormir</button><br><br>
        <button id="wheel">Courir dans la roue</button>
        <button id="tunnel">Promenade dans le tunnel</button>
        <button id="guitar">Jouer de la guitare</button>
        <button id="brush">Dessiner</button>

    </div>
    
    <script src="../javascript/script.js"></script>
</body>
</html>